
    body {
      font-family: tahoma, sans-serif;
      margin: 0;
      padding: 0;
      background: #fff;
      direction: rtl;
    }

    .product-page {
      display: grid;
      grid-template-columns: 1fr 1fr 0.7fr;
      gap: 20px;
      max-width: 1200px;
      margin: 40px auto;
      background: #fff;
      padding: 20px;
      border-radius: 12px;
      /* box-shadow: 0 2px 8px rgba(0,0,0,0.1); */
    }

    /* بخش عکس‌ها */
    .product-images {
      text-align: center;
      
    }

    #main-image {
      width: 100%;
      max-width: 300px;
      border-radius: 10px;
      margin-bottom: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
}

    .thumbnails {
      display: flex;
      justify-content: center;
      gap: 10px;
    }

    .thumbnails img {
      width: 70px;
      height: 70px;
      object-fit: cover;
      border-radius: 6px;
      cursor: pointer;
      border: 2px solid transparent;
      transition: 0.3s;
    }

    .thumbnails img:hover {
      border-color: #007bff;
    }

    /* بخش مشخصات */
    .product-details h1 {
      margin-top: 0;
      font-size: 24px;
      color: #333;
    }

    .product-details p {
      color: #555;
      line-height: 1.6;
    }

    .product-details ul {
      list-style: none;
      padding: 0;
      margin-top: 15px;
    }

    .product-details ul li {
      margin-bottom: 8px;
      color: #444;
    }

    /* بخش خرید */
    .product-purchase {
      width: 300px;
      background-color: #ccc;
      height: 370px;
      padding-right: 20px;
      padding-left: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-shadow: 2px 4px 10px rgba(0,0,0,0.20);
    }
    .stock{
      color: #6d5050;
      font-size: 14px;
    }
    .price {
      font-size: 22px;
      color: #000;
      margin-bottom: 40px;
      font-weight: bold;
    }
    .price .currency {
      font-size: 16px;       /* کوچکتر از قیمت */
      font-weight: normal;    /* نرمال */
      vertical-align: super; /* میره کمی بالا نسبت به عدد */
      color: #333;            /* رنگ کمتر برجسته */
      margin-left: 3px;       /* فاصله از عدد */
    }
    .add-to-cart {
      display: block;
      width: 100%;
      padding: 12px;
      background: #007bff;
      color: white;
      font-size: 16px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: 0.3s;
      margin-top: 30px;
    }

    .add-to-cart:hover {
      background: #0056b3;
    }
    #main-image {
        width: 100%;
        max-width: 400px;
        height: auto; /* تناسب حفظ بشه */
      }
      
      .thumbnails img {
        width: 70px;
        height: 70px;
        object-fit: cover; /* عکس توی کادر جا بگیره */
      }
      .price-details {
        padding: 15px;
        border-radius: 8px;
      }
      .quantity-wrapper {
        position: relative;
        display: inline-block;
        margin-bottom: 30px;
      }
      
      .quantity-wrapper input {
        width: 150px;
        height: 40px;
        text-align: center;
        border-radius: 6px;
        border: 1px solid #ccc;
        padding: 0; 
        box-sizing: border-box;
      }
      
      .quantity-decrease,
      .quantity-increase {
        position: absolute;
        top: 0;
        width: 30px;
        height: 100%;
        line-height: 40px;
        text-align: center;
        cursor: pointer;
        background: none;
        border: none;
        user-select: none;
        font-size: 25px;
      }
      
      .quantity-decrease { left: 0; border-right: none; }
      .quantity-increase { right: 0; border-left: none; }
      
      
      .quantity-controls button:hover {
        color: #0056b3;
      }
      
     
      
      
      .price-row {
        display: flex;
        justify-content: space-between;
        margin-bottom:20px;
        font-size: 16px;
        color: #333;
        gap: 40px;
        
      }
      
      .price-row:last-child {
        margin-bottom: 0;
      }
      .product-info-wrapper{
        border-bottom: 5px solid #ccc;
        width: 100%; /* کل عرض صفحه */
        padding-bottom: 15px;
        margin-bottom: 55px;
      }
      .product-info {
        display: flex;
        justify-content: space-between; /* فاصله یکسان بین آیتم‌ها */
        max-width: 1200px;
        margin: 20px auto; /* وسط چین کردن container */
        flex-wrap: nowrap; /* اجازه نده بره خط بعد */
        box-sizing: border-box;
      }
      
      .info-item {
        flex: 1; /* هر آیتم فضای مساوی بگیره */
        text-align: center;
        padding: 10px;
        box-sizing: border-box;
        color: #757575;
      }
      .product-tabs{
        margin-top: 40px;
        max-width: 1200px;
        padding: 20px auto;
        margin: 20px auto;
      }
      .tab-buttons{
        display: flex;
        gap: 10px;
        border-bottom: 2px solid #ccc;
        margin-bottom: 15px;
      }
      .tab-buttons .tab-btn{
        flex: 1;
        padding: 10px;
        cursor: pointer;
        background: none;
        border: none;
        font-size: 19px;
        color: #555;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
      }
      .tab-buttons .tab-btn:hover{
         color: #007bff;
      }
      .tab-buttons .tab-btn.active{
       color: #007bff;
       border-bottom: 3px solid #007bff;
       font-weight: bold;
       }
       .tab-content .tab-panel{
        display: none;
        color: #333;
        line-height: 1.9;
       }
       .tab-content .tab-panel.active{
        display: block;
       }
       .specs-list{
        list-style-type: none;
        padding: 0;
        margin: 0;
       }
       .specs-list li{
        display: grid;
        grid-template-columns: 160px 1fr;
        gap: 100px;
        margin-bottom: 20px;
        border-bottom: 0.5px solid #ddd;
        padding: 17px;
       }
       .specs-list .label{
        margin-left: 54px;
       }
       body {
        font-family: sans-serif;
        direction: rtl;
        background: #f9f9f9;
        padding: 20px;
      }
      .comments-sendbtn{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1000px;
      }
      .comments{
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
        background: #fff;
        padding: 20px;
        border-radius:10px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
        
}
       .comment{
        border-bottom: 1px solid #eee;
        padding: 12px 0;
       }
       .comment:last-child {
        border-bottom: none;
      }
      .comment .author{
        font-weight: bold;
        color: #333;
      }
      .add-comment-btn{
        display: block;
        margin: 20px auto 0;
        padding: 15px 25px;
        background: #28a745;
        color: #fff;
        border: none;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        cursor: pointer;
       }
       .modal{
        display: none;
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
       }
       .modal-content{
        background: #fff;
        padding: 23px;
        width: 90%;
        max-width: 400px;
        border-radius: 11px;
        -webkit-border-radius: 11px;
        -moz-border-radius: 11px;
        -ms-border-radius: 11px;
        -o-border-radius: 11px;
       }
       .modal textarea{
        width: 100%;
        height: 80px;
        padding: 10px;
        resize: none;
        margin-bottom: 10px;
       }
       .modal .username{
        margin-bottom: 10px;
        font-size: 0.9rem;
        color: #666;
       }
       .modal button{
        background: #28a745;
        color: #fff;
        border: none;
        padding: 8px 16px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        cursor: pointer;
       }
       .close{
        float: left;
        cursor: pointer;
        color: #888;
       }
       .text{
        overflow-wrap: break-word;
        word-wrap: break-word;
        white-space: pre-wrap;
       }